.role-input{
  display: flex;
  flex-direction: column;

  .label{
    font-weight: 500;
    color: #444;
    font-size:16px;
  }

  select{
    
    padding: 12px 28px;
    border-radius: 50px;
    

    border: #7C7C7C 1px solid;
    &:active, &:focus {
      outline: none;
      border: #000000 1px solid;
    }
  }
}