.detalhar-card {
  background-color: #fff;
  padding: 24px 40px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 40px auto;


  .icon-lixo{
    max-height: 30px;
    max-width: 30px;
  }
  .icon-lapis{
    max-height: 34px;
    max-width: 34px;
  }

  .icon-close{
    max-height: 34px;
    max-width: 34px;
  }

  .botoes-header {
    display: flex;
    gap: 8px;
  }
  
  

  .card-content {
    display: flex;
    flex-direction: column;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
      color: #333;
    }

    .btn-close {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #888;
      transition: color 0.3s ease;

      &:hover {
        color: #e74c3c;
      }
    }
  }

  .detalhes-funcionario{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .detalhes {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 500px;
    
  overflow-y: auto; 
  flex-wrap:nowrap;

    .detalhe-item {
      
  display: grid;
  grid-template-columns: 150px 1fr; 
  gap: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 10px 14px;
  align-items: center;

  strong {
    color: #555;
    font-weight: 600;
  }

  span {
    color: #333;
    word-break: break-word;
  }
}
  }
  .funcionarios-section {

    h3 {
      margin-bottom: 12px;
      font-size: 1.2rem;
      font-weight: 600;
      color: #444;
    }

    .funcionario-item {
      margin-bottom: 12px;
      h4{
        margin:12px 0;
      }
      

      .detalhe-item {
        gap: 8px;
        display: grid;
        grid-template-columns: 150px 1fr; 
        gap: 20px;
        background-color: #fafafa;
        border-radius: 8px;
        padding: 10px 14px;
        align-items: center;

      }
    }
  }

  .form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .detalhe-item {
    grid-template-columns: 1fr; 
    gap: 8px;
  }
}