.button {
  background-color: #B20000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    background-color: #7c0303;
  }
}

.button.small{
  padding: 8px 12px;
  border-radius: 10px;
}

.button.cinza {
 background-color: #7e7e7e; 
}

.button.quadrado {
  padding: 4px 6px;
  border-radius: 10px;
}

.button.normal {
  padding: 20px 100px;
  border-radius: 50px;
}

.button.redondo {
  padding: 18px 20px ;
  border-radius: 50px;
}