.button{
  background-color: #B20000;
  border: none;
  color: #fff;
  padding: 20px 100px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;

  &:hover{
    background-color: #7c0303;
  }
}